.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.block {
  display: block;
}

.w-100 {
  width: 100%;
}

.strikethrough {
  text-decoration: line-through;
}

/* NON UTILITY CLASSES */

.root-container {
  gap: 2rem;
  align-items: center;

  max-width: 512px;
  margin: 0 auto;
  margin-top: 2rem;

  background-color: #363636;
  border-radius: 1rem;
  padding: 2rem;

  box-shadow: 0 7px 0 -4px #9725f5;
}

.item-form {
  gap: 0.25rem;
}

.item-row {
  gap: 1.5rem;
  justify-content: space-between;
}

.get-this-btn {
  background-color: #9725f5;
  color: "white";
}

.get-this-btn:hover {
  background-color: #9725f580;
  color: "white";
}

.buttons {
  gap: 0.25rem;
}

.util-section {
  width: 100%;
  justify-content: space-between;
  gap: 0.25rem;
}

.bought {
  opacity: 25%;
}

footer {
  text-align: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  opacity: 50%;
}
