body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #2e2e2e;
  color: white;
}

code {
  font-family: monospace;
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
}
